<%= form_for @profile, html: { multipart: true } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

  <div class="form-group">
    <%= f.label :about %>
    <%= f.text_field :about, class: "form-control" %>
  </div>

    <div class="form-group">
      <%= f.label :breed %>
      <%= f.text_field :breed, class: "form-control" %>
   </div>

    <div class="form-group">
      <%= f.label :zodiac %> 
      <%= f.text_field :zodiac, class: "form-control" %>
   </div>

    <div class="form-group">
      <%= f.label :religion %>
      <%= f.text_field :religion, class: "form-control" %>
   </div>

       <div class="form-group">
      <%= f.label :interests %>
      <%= f.text_field :interests, class: "form-control" %>
   </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
