
<div class="row">
	<div class="col-md-offset-2 col-md-6">
		<div class="panel panel-default">
			<h1 class="form-group center">
			  <%= @profile.name %>
			</h1>
			<div class="center">
				<%= image_tag @profile.image.url(:medium) %>
			</div>
			<div class="panel-body">

			<p class="form-group">
			  <strong>About:</strong>
			  <%= @profile.about %>
			</p>

			<p class="form-group">
			  <strong>Breed:</strong>
			  <%= @profile.breed %>
			</p>

			<p class="form-group">
			  <strong>Religion:</strong>
			  <%= @profile.religion %>
			</p>

			<p class="form-group">
			  <strong>Interests:</strong>
			  <%= @profile.interests %>
			</p>

			<div class="form-group">
				<% if @profile.user == current_user %>
				<%= link_to raw('<span class="glyphicon glyphicon-pencil"></span> Edit'), edit_profile_path(@profile), class: "form-group" %> |
				<% end %>
				<%= link_to raw('<span class="glyphicon glyphicon-share-alt"></span> Back'), profiles_path, class: "form-group" %>
				</div>
			</div>
		</div>
	</div>
</div>
