<%= render 'layouts/carousel' %>

<div class="jumbotron center">
	<h1>Purrr'fect Match</h1>

		     <% if user_signed_in? %>
          <h3>Your Now a Cool Cat!</h3>
          <%= link_to "View Profiles", profiles_path, class: "btn btn-primary btn-lg" %>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %> 
</div>

  <h1 class="bodyheader">Testimonials</h1>

  <!-- Testimonial One -->

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Tazzy <span class="text-muted">I had given up hope.</span>
      </h2>
      <p class="lead">
        "I had prowled the alley ways for years trying to find that special feline friend. I lost hope of ever finding my that purfect match. Until a friend recommended that I try Purrr'fect Match. I thought why not? After only a week, I met Spazzy and we have never been happier."
      </p>
      </p>
    </div>
    <div class="col-md-5">
      <%= link_to image_tag("testimonial1.jpg", :alt => "Cat Testimonial One"), profiles_path %>
    </div>
  </div>

  <!-- Testimonial Two -->

  <div class="row featurette">
    <div class="col-md-5">
      <%= link_to image_tag("testimonial2.jpg", :alt => "Cat Testimonial Two"), profiles_path %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Samantha Faith <span class="text-muted">I found a Tom Cat who shares my Faith.</span>
      </h2>
      <p class="lead">
        "My relationship with Cat Jesus is the core of my being and the focus of my life. I needed a Tom Cat to share my faith with and thanks to Purrr'fect Match, I found a Tom Cat just as devout as I am."  
      </p>
      </p>
    </div>
  </div>

    <!-- Testimonial Three -->

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Kitty Chu <span class="text-muted">I never thought that I would ever find a partner whom loved fantasy as much as me.</span>
      </h2>
      <p class="lead">
        "I grew up the runt of the litter which led to a tough time fitting in during my teen-kitty years. Cosplay entered my life as an amazing escape and a way to express my inner cat.<br><br>I never believd that I would ever find an another Cosplay Cat to commune with. But one night I saw an add for Purrr'fect Match while watching Samurai Champloo on Crunchy Roll. I thought why not, and two months later I found. Kitty Sailor Moon, my very own Khaleesi. <strong>Arigato Purrr'fect Match!</strong>"  
      </p>
      
    </div>
    <div class="col-md-5">
      <%= link_to image_tag("testimonial3.jpg", :alt => "Cat Testimonial Three"), profiles_path %>
    </div>
  </div>


